.nav-item button{
    background: #0EB04D;
    border: none;
    color: #FFF !important;
}
.nav-item .active{
    background: #EA7B10;
    border: none;
    color: #FFF !important;
}
ul li:nth-child(5){
    margin-right: 0px !important;
}
.next-btn{
    background: #0EB04D;
    padding: 10px 30px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: #FFF;
}
.preview-btn{
    background: #0EB04D;
    padding: 10px 30px;
    margin: 10px;
    border: none;
    border-radius: 10px;
    color: #FFF;
}
.progress-bar{
    background: #EA7B10 !important;
}