  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap');


  .container-70 {
      max-width: 70% !important;
      margin: 0 auto;
  }

  .container-75 {
      max-width: 75% !important;
      margin: 0 auto;
  }

  .container-80 {
      max-width: 80% !important;
      margin: 0 auto;
  }

  .container-85 {
      max-width: 85% !important;
      margin: 0 auto;
  }

  .container-90 {
      max-width: 90% !important;
      margin: 0 auto;
  }

  .container-95 {
      max-width: 95% !important;
      margin: 0 auto;
  }

  .container-98 {
      max-width: 98% !important;
  }

  .container-100 {
      max-width: 100% !important;
  }



  section {
      background: #FBFBFB;
  }

  .register-form h1 {
      color: #000;
      text-align: center;
      font-family: Inter;
      font-size: 49px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }

  .register-form p {
      margin: 20px 0px;
      color: #000;
      text-align: center;
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
  }



  .time-line .active {
      /* background: #EA7B10 !important; */
      border: none;
      color: #FFF !important;
  }

  ul li:nth-child(5) {
      margin-right: 0px !important;
  }

  .next-btn {
      background: #0EB04D;
      padding: 10px 60px;
      margin: 10px;
      border: none;
      /* border-radius: 10px; */
      color: #FFF;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }

  .preview-btn {
      background: #0EB04D;
      padding: 10px 60px;
      margin: 10px;
      border: none;
      /* border-radius: 10px; */
      color: #FFF;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }

  .progress-bar {
      background: #EA7B10 !important;
  }

  .register-title .active {
      color: #EA7B10 !important;
      text-align: center;
      font-family: Inter !important;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
  }

  .register-title .inactive {
      color: #6F6F6F !important;
      /* text-align: center; */
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
  }

  .register-step .active {
      background: #EA7B10;
      color: #FFF;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .register-step .inactive {
      background: #E8E8E8;
      color: #6F6F6F;
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
  }

  .register-step .fillactive {
      background: #EA7B10;
      color: #FFF;
      text-align: center;
      font-family: Inter !important;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
  }

  .register-form {
      padding: 50px 0px;
      /* background: #FFF; */
      /* box-shadow: 2px 2px 11px 0px rgba(190, 190, 190, 0.25); */
  }

  .register-field {
      margin: 50px 0px;
      background: #FFF;
      box-shadow: 2px 2px 11px 0px rgba(190, 190, 190, 0.25);
  }

  .register-form label {
      color: #373737;
      font-family: Inter !important;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
  }

  .register-form input {
      padding: 12px 10px;
      border-radius: 2px;
      border: 1px solid var(--grey-90, #CFD0D7);
      background: var(--white-90, #FCFCFD);
  }

  .register-form select {
      padding: 12px 10px;
      border-radius: 2px;
      border: 1px solid var(--grey-90, #CFD0D7);
      /* background: var(--white-90, #FCFCFD); */
  }

  .register-form input::placeholder {
      padding: 0px 5px;
      color: rgba(0, 0, 0, 0.50);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px;
  }
  .register-form .upload-para {
    margin: 20px 0px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
  .success {
      width: 10%;
      margin: 0 auto;
      padding: 60px 0px;
      border-radius: 100px;
      background: #0EB04D;

  }
.fill-value{
    background: #0EB04D !important;
    color: #FFF;
    
}


  /* register success msg css start  */

  .register-success svg {
      width: 100px;
      display: block;
      margin: 40px auto 0;
  }

  .path {
      stroke-dasharray: 1000;
      stroke-dashoffset: 0;

      &.circle {
          -webkit-animation: dash .9s ease-in-out;
          animation: dash .9s ease-in-out;
      }

      &.line {
          stroke-dashoffset: 1000;
          -webkit-animation: dash .9s .35s ease-in-out forwards;
          animation: dash .9s .35s ease-in-out forwards;
      }

      &.check {
          stroke-dashoffset: -100;
          -webkit-animation: dash-check .9s .35s ease-in-out forwards;
          animation: dash-check .9s .35s ease-in-out forwards;
      }
  }

  p {
      text-align: center;
      margin: 20px 0 60px;
      font-size: 1.25em;

      &.success {
          color: #73AF55;
      }

      &.error {
          color: #D06079;
      }
  }


  @-webkit-keyframes dash {
      0% {
          stroke-dashoffset: 1000;
      }

      100% {
          stroke-dashoffset: 0;
      }
  }

  @keyframes dash {
      0% {
          stroke-dashoffset: 1000;
      }

      100% {
          stroke-dashoffset: 0;
      }
  }

  @-webkit-keyframes dash-check {
      0% {
          stroke-dashoffset: -100;
      }

      100% {
          stroke-dashoffset: 900;
      }
  }

  @keyframes dash-check {
      0% {
          stroke-dashoffset: -100;
      }

      100% {
          stroke-dashoffset: 900;
      }
  }








/* login css start  */

.login-field {
    margin: 50px 0px;
    background: #FFF;
    box-shadow: 2px 2px 11px 0px rgba(190, 190, 190, 0.25);
}
.login-field h1 {
    color: #000;
    font-family: Inter;
    font-size: 49px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.login-field p {
    text-align: start;
    margin: 20px 0px;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.login-field label {
    color: #373737;
    font-family: Inter !important;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}
.login-field input {
    padding: 12px 10px;
    border-radius: 2px;
    border: 1px solid var(--grey-90, #CFD0D7);
    background: var(--white-90, #FCFCFD);
}
.login-field input::placeholder {
    padding: 0px 5px;
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}