  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Roboto:ital,wght@1,300&display=swap');

  .container-55 {
      max-width: 55% !important;
      margin: 0 auto;
      float: inline-end;
  }

  /* header css  start  */
  .header-section {
      background: #FFF;
      box-shadow: 0px 4px 6px 0px rgba(172, 172, 172, 0.25);
      z-index: 100;
  }

  .logo-section {
      width: 10%;
  }

  .logo-img {
      width: 50%;
  }

  .nav-item {
      display: flex;
      align-items: center;
      margin-right: 30px;
  }

  .nav-item a {
      color: #000;
      font-size: 18px;
      font-weight: 500;
      line-height: normal;
  }

  .nav-item .active {
      color: #0EB04D !important;
      font-size: 18px;
      font-weight: 600;
      line-height: normal;
  }

  .nav-item a:hover {
      color: #0EB04D !important;
  }

  .nav-item .active:hover {
      color: #000 !important;
  }

  .login-btn {
      margin: 0px 20px;
      padding: 10px 30px;
      background: #FFF;
      border: 1px solid #0EB04D;
      box-shadow: 0px 4px 6px 0px rgba(172, 172, 172, 0.25);
      color: #0EB04D;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
  }

  .login-btn:hover {
      padding: 10px 30px;
      background: #0EB04D;
      color: #FFF;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
  }

  .register-btn {
      padding: 10px 30px;
      background: #0EB04D;
      color: #FFF;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
  }

  .register-btn:hover {
      padding: 10px 30px;
      background: #FFF;
      border: 1px solid #0EB04D;
      box-shadow: 0px 4px 6px 0px rgba(172, 172, 172, 0.25);
      color: #0EB04D;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
  }

  /* Banner carousel css start  */
  .carousel-item {
      padding: 11.5% 0px;
      background: url('../image/carousel-img.png'), lightgray 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .carousel-item h1 {
      color: #FFF;
      font-size: 74px;
      font-style: normal;
      font-weight: 900;
      line-height: 84px;
  }

  .carousel-item span {
      color: #EA7B10;
  }

  .carousel-item p {
      padding-right: 75px;
      text-align: justify;
      color: #FFF;
      font-size: 20px;
      font-weight: 100;
      line-height: 36px;
  }

  .carousel-indicators button {
      width: 10px !important;
      height: 10px !important;
      border: none !important;
      border-radius: 10px !important;
      background-color: #FFF !important;
      opacity: 1 !important;
  }

  .carousel-indicators .active {
      width: 20px !important;
      height: 10px !important;
      border: none !important;
      border-radius: 20px !important;
      background-color: #0EB04D !important;
  }

  /* footer css start  */

  footer {
      margin-top: 10px;
      /* padding: 11% 0px; */
      background: url('../image/footer-img.png'), lightgray 50%;
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
  }

  .footer-content h5 {
      color: #FFF;
      font-size: 24px;
      font-weight: 600;
      line-height: normal;
  }

  .footer-content ul {
      margin-top: 10%;
  }

  .footer-content ul li {
      list-style: none;
      padding: 10px 0px;
      color: #FFF;
      font-size: 15px;
      font-weight: 500;
      line-height: normal;
  }

  .footer-content .address {
      margin-top: 10%;
      contain: content;
      padding: 10px 0px;
      color: #FFF;
      font-size: 20px;
      font-weight: 500;
      line-height: normal;
  }

  footer hr {
      border: 1px solid #FFF !important;
  }

  .footer-bottom {
      padding-bottom: 10px;
  }

  .footer-bottom p {
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
  }

  .footer-bottom ul li {
      color: #FFF;
      font-size: 14px;
      font-weight: 400;
      line-height: 28px;
      text-decoration-line: underline;
  }

  .footer-bottom span {
      text-decoration-line: underline;
  }



  /* responsive css start  */

  @media (max-width: 992px) {

      /* header section css start  */
      .nav-list li {
          padding: 10px 20px;
      }

      /* banner section start  */
      .carousel-item h1 {
          font-size: 55px;
          line-height: 65px;
      }

      .carousel-item p {
          font-size: 17px;
          line-height: 27px;
      }

      /* footer section start  */
      .footer-logo img {
          width: 25% !important;
      }
  }

  @media (max-width: 778px) {

      /* banner section start  */
      .container-55 {
          max-width: 80% !important;
          margin: 0 auto;
          float: none !important;
      }

      .carousel-item h1 {
          font-size: 55px;
          line-height: 65px;
      }

      .carousel-item p {
          padding-right: 0px;
          font-size: 18px;
          line-height: 28px;
      }

      .footer-logo img {
          width: 25% !important;
      }


      @media (max-width: 567px) {

          /* banner section start  */
          .container-55 {
              max-width: 85% !important;
              margin: 0 auto;
              float: none !important;
          }

          .carousel-item h1 {
              font-size: 55px;
              line-height: 65px;
          }

          .carousel-item p {
              padding-right: 0px;
              font-size: 15px;
              line-height: 25px;
          }
      }

  }

  @media (max-width: 440px) {

      /* banner section start  */
      .container-55 {
          max-width: 90% !important;
          margin: 0 auto;
          float: none !important;
      }

      .carousel-item h1 {
          font-size: 40px;
          line-height: 50px;
      }

      .carousel-item p {
          padding-right: 0px;
          font-size: 15px;
          line-height: 25px;
      }

      .footer-logo img {
          width: 25% !important;
      }
      .footer-bottom p {
        font-size: 13px;
        line-height: 23px;
    }

  }